/* Base */
/* ----------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	background-color: #fdfdfd;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #212121;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
	max-width: 800px;
	padding: 0 30px;
	margin: 0 auto;
	zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* Site header */


/* Site footer */


/* Page Content styles */
/* ----------------------------------------------------------*/

.page__header {
	background-color: #79ba3a;
	height: 3.5em;
	padding-top: 1.5em;
	font-size: 3em;
}

.header__title {
	width: 650px;
	margin: 0 auto;

	color: #fff;
	font-weight: 400;
	line-height: 1.5;
	white-space: nowrap;
}

.page__body {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 0 5em;
}

h2,
h3 {
	color: #79ba3a;
}


/* Home styles */
/* ----------------------------------------------------------*/
.sidebar {
	-webkit-flex-basis: 250px;
			-ms-flex-preferred-size: 250px;
					flex-basis: 250px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .35);
	position: relative;
	z-index: 10;
}

.site-title {
	display: block;
	padding: 1em 1em .4em;
	border-bottom: 1px solid #d8dae3;
}

.site-title > img {
	width: auto;
	height: 3em;
}

.page-link {
	display: block;
	padding: .5em 1em;
}

.page-link.active {
	background-color: #4e6a78;
	color: #fff;
}

main {
	overflow: auto;
	-webkit-flex-basis: 100%;
			-ms-flex-preferred-size: 100%;
					flex-basis: 100%;
}

/* Post styles */
/* ----------------------------------------------------------*/

.page__header .meta {
	font-size: 15px;
	color: #818181;
	margin-top: 5px;
}

.page__body > * { margin: 20px 0; }

.page__body h1,
.page__body h2,
.page__body h3,
.page__body h4,
.page__body h5,
.page__body h6 {
	line-height: 1;
	font-weight: 400;
	margin: 40px 0 20px;
}

.page__body h2 {
	font-size: 1.7em;
	letter-spacing: -1.25px;
}

.page__body h3 {
	font-size: 1.4em;
	letter-spacing: -1px;
}

.page__body h4 {
	font-size: 1.2px;
	letter-spacing: -1px;
}

.page__body blockquote {
	border-left: 4px solid #e8e8e8;
	padding-left: 20px;
	font-size: 18px;
	opacity: .6;
	letter-spacing: -1px;
	font-style: italic;
	margin: 30px 0;
}

.page__body ul,
.page__body ol { padding-left: 20px; }

.page__body img {
	max-width: 100%;
	height: auto;
}

.page pre,
.page code {
	background-color: #fdf6e3;
	border: 1px solid #ddd6c1;
	padding: 8px 12px;
	border-radius: 2px;
	font-size: 15px;
	font-family: Inconsolata, monospace;
}

/* Correct odd behavior in code blocks */
.page code > span:first-child {
	margin-left: -5px;
}

.page code { padding: 1px 5px; }

.page ul,
.page ol { margin-left: 1.35em; }

.page pre code { border: none; }

/* terminal */
.page pre.terminal {
	border: 1px solid #000;
	background-color: #333;
	color: #FFF;
	border-radius: 3px;
}

.page pre.terminal code { background-color: #333; }

/* Solarized Light

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight { color: #586e75 }
.highlight .lineno { color: #93a1a1 } /* Line Numbers */
.highlight .c { color: #93a1a1 } /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #93a1a1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/
