<aside class="sidebar">

  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/img/logo.svg" alt="{{ site.title }} Logo">
  </a>

  <nav class="site-nav">
    {% for node in site.pages %}

      <!-- Avoid index.html -->
      {% if node.url.size > 1 %}

        {% assign level = node.url | split: '/' | size %}
        {% if level < 3 %}
          <a class="page-link {% if page.url contains node.url %}active{% endif %}" href="{{ node.url | prepend: site.baseurl }}">
            {{ node.title }}
          </a>
        {% endif %}

      {% endif %}

    {% endfor %}
  </nav>

</aside>
